@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
  /* nord is the light theme, dark is the dark theme */
  themes: nord, forest;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* DaisyUI automatically handles the body background 
   if data-theme is on the <html> tag. 
   We only add the font here.
*/
body {
  font-family: var(--font-sans), sans-serif;
  min-height: 100vh;
}